html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Noto Sans KR', serif;
}

body.sidebar-open {
  overflow: hidden;
}

body.sidebar-open .sidebar {
  transform: translateX(0);
}

body.sidebar-open .dimmed {
  display: block;
}

#home,
#about,
#skills,
#projects,
#contact {
  scroll-margin-top: 4rem;
}
